{% extends 'PAFBundle::base.html.twig' %}
{% block title %} - Chat {% endblock %}

{% form_theme formChat _self %}

{%- block submit_widget -%}
    {%- set type = type|default('submit') -%}

    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        <i class="material-icons">chat</i>
    </button>
{%- endblock submit_widget -%}

{% block body %}
    {% include 'PAFBundle:chat:header.html.twig' %}

    {% if app.session.flashBag.has('success') %}
        {% for msg in app.session.flashBag.get('success') %}
            <div class="card-panel teal lighten-2">
                <table>
                    <tr>
                        <td class="white-text">{{ msg }}</td>
                        <td class="right-align"><a href="#" class="card-close waves-effect waves-light modal-trigger btn btn-large white btn-flat">Close</a></td>
                    </tr>
                </table>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col s2">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="http://materializecss.com/images/sample-1.jpg">
                                    {#<a class="btn-floating halfway-fab waves-effect waves-light"><i class="material-icons">more_vert</i></a>#}
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4 center-align">{{ name }}</span>
                            </div>
                            <div class="card-action">
                                    <ul class="inline-li center-align">
                                        <li><a href="/my/{{ name }}" class="btn-floating"><i class="material-icons">person</i></a></li>
                                        <li><a href="/edit/{{ name }}" class="btn-floating"><i class="material-icons">edit</i></a></li>
                                        <li><a href="/avatar/{{name }}" class="btn-floating"><i class="material-icons">insert_photo</i></a></li>
                                        <li><a href="/clear/{{ name }}" class="btn-floating"><i class="material-icons">close</i></a></li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s9">
                <div class="divider"></div>
                <table class="striped">
                    <tbody>
                        {% for chat in chats %}
                            <tr>
                                <td>[{{ chat.indicator|date("d/m/Y H:i:s") }}] <strong>{{ chat.name }}</strong> :</td>
                                <td>{{ chat.message }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            {{ form_start(formChat, {'attr': {'class': 'col s10 offset-s2'}}) }}
                {{ form_errors(formChat) }}
                <div class="input-field col s11">
                    {{ form_errors(formChat.message) }}
                    {{ form_widget(formChat.message) }}
                </div>
                <div class="input-field col s1">
                    {{ form_widget(formChat.save) }}
                </div>
            {{ form_end(formChat) }}
        </div>
    </div>
{% endblock %}


